# API Gateway
API_GATEWAY_PORT=3000
USER_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002

# User Service
USER_SERVICE_PORT=3001
USER_MONGO_URI=mongodb://localhost:27017/users
JWT_EXPIRES_IN=1h
BCRYPT_SALT=10

# Product Service
PRODUCT_SERVICE_PORT=3002
PRODUCT_MONGO_URI=mongodb://localhost:27018/products

# Shared
JWT_SECRET=change-me
